# Data Science Tool and Ecosystem

In the notebook, Data Science Tool and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Java,etc...;

some of the commonly used libraries used by Data Scientists include:
1. Tensortflow.
2. Numpy.
3. Scipy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. Scikit-Learn.
8. PyTorch. etc...;

|Data Science Tool|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few example of eveluating arthmetic expressions in Python .

In [5]:
#this is a common arthimetic example to multiply and then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of well known Data Science tool
* How to provide comments in the cell

## Author
Lakshmi Holla

Niveditha Pandith